{% extends "base.html" %}

{% block main %}
    <h1>Secure Page</h1>
    <p>Lorem ipsum dolor sit amet, id illud movet munere his. An vide accusam aliquando pro, facete graecis deleniti has eu.
        Eu eum odio disputationi, vel ne dicunt alienum intellegebat. Virtute intellegam ullamcorper his et, an quo nobis
        quaerendum consequuntur. Te has velit diceret minimum, at eum euismod aliquam corpora. Cu quaeque disputando eum,
        pro ne diam aliquam dissentiunt, nam alienum iudicabit id.

        An latine admodum vel. Ornatus nominavi posidonium his te, cum ut omnis novum vulputate. Qui mundi solet patrioque
        ne. Cibo virtute constituam an eos, putant intellegebat ius ad. Ut quo adipiscing inciderint interpretaris, harum
        ceteros mel an, verear sadipscing pri eu.

        Delicata urbanitas reprimique nam in, per munere persecuti instructior at. Per at solet audiam recusabo. Purto
        ornatus labores pro no, ex posse latine honestatis eos. Cum ei postea iuvaret nonumes, per eu sint mnesarchum
        quaerendum, in est justo scribentur.

        Vix in quando legere definitiones, dicat eirmod euripidis pro id, iisque neglegentur disputationi ut has. Nec
        fabulas percipitur ei, te vel percipitur scriptorem. Ut omnis pertinacia vis. Modus feugait dolores ius ex. Habeo
        movet epicuri ne qui, mea omnium nominati honestatis ad, ad nemore gloriatur ius.

        Putant menandri ne pro, et movet omnes intellegebat quo. Sea facete inciderint.</p>
{% endblock %}